@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas{
    display: block;
    background-color: rgba(0, 0, 0, 0.795);
}

#config{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255,255,255, 0.1);
    cursor: pointer;

}

ion-icon{
    font-size: 20px;
    margin: 10px;
    color: white;
}

.menu{
    position: absolute;
    top: 80px;
    right:20px;
    width: 300px;
    height: 60vh;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    visibility: hidden;
}

.menu.on{
 
    visibility: visible;
}

.btn-close{
    position: absolute;
    right: 0px;
}

.menu > a {
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.menu > h1 {
    width: 100%;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    font-size: 25px;
}

.menu > a:hover{
    text-decoration: underline;
}

#option{
    position: absolute;
    top: 60px;
    left: 20px;
}
